body{
	background-color: orange;
	font-family: arial;
}

#top p{
	display: inline;
	font-size: 40px;
	vertical-align: center;
	color: #ac7339;
}

#container{
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}


.image{
	width: 65px;
	height: 40px;
	float: left;
}

.name{

	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 35px;
	
}

.description{
	font-size: 14px;
	color: #999999;
	padding-bottom: 10px;
	padding-left: 40px;
}

.dropDown{
	display: inline-block;
	position: absolute;
	right: 200px;
	margin-top: -40px;
}

.price{
	font-size: 20px;
	color: #999999;
	display: inline-block;
	position: absolute;
	right: 90px;
	margin-top: -40px;

}

.line{
	background-color: #999999;
	width: 95%;
	height: 3px;
	text-align: center;
}

.subtotal{
	margin-left: 10%;
	padding-left: 6px;
	font-size: 24px;
	font-weight: bold;
}

.total{
	display: inline-block;
	position: absolute;
	right: 90px;
	margin-top: -50px;
	font-size: 24px;

}



















