body{
	background-color: orange;
	font-family: arial;
}

#top p{
	display: inline;
	font-size: 40px;
	vertical-align: center;
	color: #ac7339;
}

#container{
	background-color: white;
	padding: 50px;
	margin-top: 20px;

}

.item{
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 125px;

}

.description{
	font-size: 14px;
	color: #999999;
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 125px;
}

.price{
	font-size: 16px;
	color: #999999;
	float: right;

}

.line{
	background-color: #999999;
	width: 95%;
	height: 3px;
	text-align: center;
}

<style>
.quantity{
	background-color: #999999;
	display: inline-block;
	position: relative;
	color: #999999;
	font-size: 24px;

}
</style>

















